*{
  box-sizing:border-box;
  padding:0px;
  margin:0px;
  font-family: 'Space Mono', monospace;
  }

	/*header*/	
.header-and-nav{
  position:sticky;
  top: 0;
  width: 100%;
  }
  
header{
  display:flex;
  align-items:center;
  justify-content:center;
  height:50px;
  background-color:white;
  }
  
.header-text h2{
  font-family: 'Libre Baskerville', serif;
  }

.header-image {
  position:absolute;
  left:5px;
  margin:8px;
  }

header img{
  max-width: 100%;
  height:50px;
  }

	/*navigation bar*/  
ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  }

ul.nav li {
  float: left;
  }

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

ul.nav li a:hover:not(.active) {
  background-color: #111;
  }

ul.nav li a.active {
  background-color: #4CAF50;
  }

ul.nav li.right {
  float: right;
  }

li.right span{
  font-size: 14px; 
  padding-right:3px;
}	

@media screen and (max-width: 600px) {
  ul.nav li.right,ul.nav li {
  float: none;
  }
}

	/*container1*/
div.container1{
  padding:50px 0px;
  height:550px;
  background-color:#f5f5f5;
}
  
div.container1 h1{
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 8px;
  text-align:center;
  }
  
div.container1 img{
  height:300px;
  width:600px;
  padding:20px 0px;
  display:block;
  margin:auto;
  }

#counter{
    color:black;
    text-decoration:none;
    background-color:#aac889;
    padding:5px;
    border-radius:8px;
  }
  
div.container1 p{
  text-align:center;
  padding:20px;
  }

div.container1-1{
  padding:18px 0px;
  }
div.container1-1 p{
  text-align:left;
  padding:3px 25px;
  font-size:15px;
  }
  
div.container1-1 p a{
  text-decoration:none;
  color:blue;
  font-weight:50px;
  font-size:15px;
  }

div.container1-1 p a:hover{
  text-decoration:underline;
  }   

  /*container2*/
.container2{
  background-color:white;
  height:380px;
  padding:50px 0px;
  }
  
.container2-1, .container2-2 {
  float: left;
  padding: 50px;
  }
  
.container2-1{
  width:60%;
  }

.container2-1 h2{
  font-family: 'Libre Baskerville', serif;
  padding:20px;
  }
.container2-2{
  width:40%;
  }
  
.container2-2 img{
  height:200px;
  width:360px;
  }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.button1 {
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius:20px;
  }

.button1:hover {
  background-color: #4CAF50;
  color: white;
}


 
	/*container3*/

div.container3{
  background-color:#f5f5f5;
  height:400px;
  padding:50px 50px;

  }
  
div.container3 p a{
  text-decoration:none;
  color:blue;
}

div.container3 p a:hover{
  text-decoration:underline;
}

div.container3 h2{
  font-family: 'Libre Baskerville', serif;
  padding:20px;
  }
  
	/*container4*/
div.container4{
  background-color:white;
  height:550px;
  padding:50px 50px;  
}

div.container4 h2{
  font-family: 'Libre Baskerville', serif;
  padding:20px;
  }

div.container4 p{
  padding:8px;
  }


div.container4 p span{
  color:red;
  font-size:20px;
  }

	/*footer*/
footer{
  background-color:#333;
  color:white;
  padding:20px;
  }
  
footer ul{
  padding:10px;
  list-style-type:none;
  }
  
    
footer ul li:first-child{
  font-family: 'Libre Baskerville', serif;
  padding:20px;
  color:green;
  }
ul.quicklink li a{
  text-decoration:none;
  color:white;
  }
  
ul.quicklink li a:hover{
  font-size:20px;
  color:white;
  }
  
ul.footer li a{
  color:green;
  text-decoration:none;
  }
ul.footer li a:hover{
  text-decoration:underline
  }  

div.copyright-bar{
  padding:4px 0px;
  background-color:#111;
  width:100%;
  }  

div.copyright-bar p{
  color:white;
  text-align:center;
  padding:4px 0px;
  }
  
div.copyright-bar a{
  color:green;
  text-decoration:none;
  }
