*{
  box-sizing:border-box;
  padding:0px;
  margin:0px;
  font-family: 'Space Mono', monospace;
  }

	/*header*/	
.header-and-nav{
  position:sticky;
  top: 0;
  width: 100%;
  }
  
header{
  display:flex;
  align-items:center;
  justify-content:center;
  height:50px;
  background-color:white;
  }
  
.header-text h2{
  font-family: 'Libre Baskerville', serif;
  color:green;
  }

.header-image {
  position:absolute;
  left:5px;
  margin:8px;
  }

header img{
  max-width: 100%;
  height:50px;
  }

	/*LOGIN FORM*/
/* Full-width input fields */
input[type=text],input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button.login {
  background-color: #4CAF50;
  color: white;
  padding: 7px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button.login:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
	/*navigation bar*/  
ul.nav {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  }

ul.nav li {
  float: left;
  }

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

ul.nav li a:hover:not(.active) {
  background-color: #111;
  }

ul.nav li a.active {
  background-color: #4CAF50;
  }

ul.nav li.right {
  float: right;
  }

li.right span{
  font-size: 14px; 
  padding-right:3px;
}	

@media screen and (max-width: 600px) {
  ul.nav li.right,ul.nav li {
  float: none;
  }
}

	/*container1*/
div.container1{
  padding:50px 20px;
  height:550px;
  background-color:#f5f5f5;
}
  
div.container1 h1{
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 8px;
  text-align:center;
  }
  
div.container1 img{
  height:300px;
  width:600px;
  padding:20px 0px;
  display:block;
  margin:auto;
  }

#counter{
    color:black;
    text-decoration:none;
    background-color:#aac889;
    padding:5px;
    border-radius:8px;
  }
  
div.container1 p{
  text-align:center;
  padding:20px 0px;
  }

div.container1-1{
  padding:30px 0px;
  }


div.container1-1 p{
  text-align:left;
  padding:5px 0px;
  font-size:13px;
  }
  
div.container1-1 p a{
  text-decoration:none;
  color:blue;
  font-weight:50px;
  font-size:15px;
  }

div.container1-1 p a:hover{
  text-decoration:underline;
  }   

  /*container2*/
.container2{
  padding:50px 20px;
  height:350px;
  background-color:white;
  }
  
.container2 h1{
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 8px;
  text-align:center;
  padding:20px 0px;
  }
  
.container2 p{
  padding:3px 0px;
  }
  


 
	/*container3*/

.container3{
  padding:50px 20px;
  height:350px;
  background-color:#f5f5f5;
  }

.container3 h2{
 text-align:center;
 color:green;
 padding:20px;
   font-family: 'Libre Baskerville', serif;
 }
 
.box {
  float: left;
  width: 25%;
  padding: 20px;
  }

.container3 h3{
  text-align:center;
  }
  
.container3 .box img{
  height:100px;
  width:100px;
  margin:auto;
  display:block;
  }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


	/*container4*/
div.container4{
  padding:50px 20px;
  height:400px;
  background-color:white;
}

div.container4 h2{
  font-family: 'Libre Baskerville', serif;
  padding:20px;
  }
  
.button1 {
  border: none;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}



	/*footer*/
footer{
  background-color:#333;
  color:white;
  padding:20px;
  }
  
footer ul{
  padding:10px;
  list-style-type:none;
  }
  
    
footer ul li:first-child{
  font-family: 'Libre Baskerville', serif;
  padding:20px;
  color:green;
  }
ul.quicklink li a{
  text-decoration:none;
  color:white;
  }
  
ul.quicklink li a:hover{
  font-size:20px;
  color:white;
  }
  
ul.footer li a{
  color:green;
  text-decoration:none;
  }
ul.footer li a:hover{
  text-decoration:underline
  }  

div.copyright-bar{
  padding:4px 0px;
  background-color:#111;
  width:100%;
  }  

div.copyright-bar p{
  color:white;
  text-align:center;
  padding:4px 0px;
  }
  
div.copyright-bar a{
  color:green;
  text-decoration:none;
  }
